#ports
POSTGRES_PORT=5432
OLLAMA_PORT=11434
NEXTJS_PORT=3000


#db
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_pass
POSTGRES_DB=your_db_name


#next js app

LLM_HOST=http://localhost:${OLLAMA_PORT}

POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/mydb?schema=public
POSTGRES_URL_NON_POOLING=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/mydb?schema=public&connection_limit=1

GITHUB_ID=ID
GITHUB_SECRET=SECRET

NEXTAUTH_URL=http://localhost:${NEXTJS_PORT}
NEXTAUTH_SECRET=SECRET

GOOGLE_CLIENT_ID=ID
GOOGLE_CLIENT_SECRET=SECRET





