#ports
POSTGRES_PORT=5432
OLLAMA_PORT=11434
NEXTJS_PORT=3000


#db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_pass
POSTGRES_DB=your_db


#next js app

LLM_HOST=http://ollama:${OLLAMA_PORT}

POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/mydb?schema=public
POSTGRES_URL_NON_POOLING=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/mydb?schema=public&connection_limit=1

GITHUB_ID=your_id
GITHUB_SECRET=your_secret

NEXTAUTH_URL=http://localhost:${NEXTJS_PORT}
NEXTAUTH_SECRET=your_secret

GOOGLE_CLIENT_ID=your_id
GOOGLE_CLIENT_SECRET=your_secret





